@page {
    size: auto;
    margin: 0;
}

@print {
    @page :footer {
        display: none;
    }
    @page :header {
        display: none;
    }
}

@media print {
    @page {
        /* A4 */
        size: 21cm 29.7cm;
    }

    body {
        background-color: white;
    }

    .print-page-break {
        clear: both;
        page-break-after: always;
    }

    .print-hidden {
        display: none !important;
    }
}
