---
import { Education } from '@/components/cv/section/education';
import { Experience } from '@/components/cv/section/experience';
import { Header } from '@/components/cv/section/header';
import { Hobby } from '@/components/cv/section/hobby';
import { Languages } from '@/components/cv/section/languages';
import { PrintPageBreak } from '@/components/print/print-page-break';
import { Skills } from '@/components/cv/section/skills';
import { WorthMentioning } from '@/components/cv/section/worth-mentioning';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
	<main class='p-4 min-h-screen bg-gradient-to-br from-slate-50 to-slate-100'>
        <Header client:load />
        <Experience />
        <PrintPageBreak />
        <div class='mt-4 grid grid-cols-2 gap-2'>
            <Skills />
            <Hobby />
            <Languages />
            <Education />
        </div>
        <!-- <Certifications /> -->
        <!-- <Activities /> -->
         <WorthMentioning />
    </main>
</Layout>
